<h1>Your cart</h1>
<ul>
<% cart.each do |product|%>
  <li>
    <%= product %>
  </li>
<% end %>
</ul>

<h2>Add to cart</h2>
<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>

  <input name=product>
  <input type=submit value='add to cart'>
<% end %>